.mask {
  width: 344px;
  display: flex;
  cursor: move;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  transition: all .3s;
  pointer-events: auto;
}

.drag {
  background-color: rgba(0, 0, 0, 0.65);
}